{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
	<h1>Dashboard</h1>
	
	<div id='timeSelectContainer'>
		<form action="/account/dashboard/" method="post" onsubmit="return submitRequest()">
			{% csrf_token %}
			<h3>Select time off type:</h3>
			<ul class='radioList'>
				<li><input type="radio" id="singleDayRadio" name="rangeType" value="single" checked>&nbsp;Single Day<br><br></li>
			  	<li><input type="radio" id="nDayRadio" name="rangeType" value="many">&nbsp;Date Range<br></li>
		  	</ul>
		  	<div id="singleDayContainer">
		  		<br>
				<h3>Select a Single Day:</h3>
				<ul class='radioList'>
					<li><input type='radio' name="dayType" value="full" checked>&nbsp;Full Day<br><br></li>
					<li><input type='radio' name="dayType" value="half">&nbsp;Half Day</li>
				</ul>
				<div class="daterange daterange--single one" id='singleCalDiv'></div>
			</div>
			<br>
			<div id="nDayContainer">
				<br>
				<h3>Select a Date Range:</h3>
				<div class="daterange daterange--double one" id='nCalDiv'></div>
			</div>

			<input type="hidden" name="username" value="{{ request.user.username }}">
			<input type="hidden" id="hiddenStartTime" name="startTime" value="EMPTY">
			<input type="hidden" id="hiddenEndTime" name="endTime" value="EMPTY">
			<input type="checkbox" id="sickCheckbox" name="sickOption">&nbsp;Sick Leave? <span style="color: grey">(Optional)</span><br><br><br>
			<input type="submit" value="Submit">
			<!-- <button id="timeSubmitBtn" class="">Submit</button> -->
		</form>
	</div>

	<div id="ytdContainer">
		<h3>History:</h3>
	</div>

	<script>
		var oneDayCalendar = new Calendar({
		  // Element to populate with a calendar
		  element: $('.daterange--single'),

		  // Beginning and End of calendar range
		  earliest_date: moment().subtract(1, 'years'),
		  latest_date: moment().add(1, 'years'),

		  // Beginning and End of time off range
		  start_date: moment(),
		  end_date: moment().add(1, 'days'),

		  callback: function() {
		    var start = moment(this.start_date).format('ll'),
		        end = moment(this.end_date).format('ll');

		    console.debug('Start Date: '+ start +'\nEnd Date: '+ end);
		  }
		});

		var nDayCalendar = new Calendar({
		  // Element to populate with a calendar
		  element: $('.daterange--double'),

		  // Beginning and End of calendar range
		  earliest_date: moment().subtract(1, 'years'),
		  latest_date: moment().add(1, 'years'),

		  // Beginning and End of time off range
		  start_date: moment(),
		  end_date: moment().add(1, 'days'),

		  callback: function() {
		    var start = moment(this.start_date).format('ll'),
		        end = moment(this.end_date).format('ll');

		    console.debug('Start Date: '+ start +'\nEnd Date: '+ end);
		  }
		});


		// Handle radio button selection
		document.getElementById('singleDayRadio').addEventListener('click', function(){
			hideShowDivs()
		});

		document.getElementById('nDayRadio').addEventListener('click', function(){
			hideShowDivs()
		})

		function hideShowDivs(){
			var singleDayBtn = document.getElementById('singleDayRadio')
			var nDayBtn = document.getElementById('nDayRadio')

			var singleDayContainer = document.getElementById('singleDayContainer')
			var nDayContainer = document.getElementById('nDayContainer')
			if(singleDayBtn.checked){
				singleDayContainer.style.display = 'block';
				nDayContainer.style.display = 'none';
			}
			if(nDayBtn.checked){
				singleDayContainer.style.display = 'none';
				nDayContainer.style.display = 'block';
			}
		}

		hideShowDivs();


		function submitRequest(){
			var singleDateCalendarText = document.getElementsByClassName('dr-date')[0].innerText,
				dateRangeCalendarStartText = document.getElementsByClassName('dr-date-start')[0].innerText,
				dateRangeCalendarEndText = document.getElementsByClassName('dr-date-end')[0].innerText,
				singleDayRadioBtn = document.getElementById('singleDayRadio'),
				nDayRadioBtn = document.getElementById('nDayRadio'),
				startDate,
				endDate,
				sickLeave = document.getElementById('sickCheckbox')

			// Check for valid date
			if(singleDayRadioBtn.checked &&  singleDateCalendarText == "" 
				|| nDayRadioBtn.checked && dateRangeCalendarStartText == ""){
				alert('Please enter a valid date')
				return false
			}
			if(singleDayRadioBtn.checked){
				startDate = (oneDayCalendar.current_date["_i"])
				document.getElementById('hiddenStartTime').value = format_date(startDate)
			}
			if(nDayRadioBtn.checked){
				startDate = format_date(nDayCalendar['start_date']['_d'])
				endDate = format_date(nDayCalendar['end_date']['_d'])

				document.getElementById('hiddenStartTime').value = startDate
				document.getElementById('hiddenEndTime').value = endDate
			}
		}





















		// Submit Time button
		document.getElementById('timeSubmitBtn').addEventListener('click', function(){
			var singleDayBtn = document.getElementById('singleDayRadio')
			var nDayBtn = document.getElementById('nDayRadio')
			
			if(singleDayBtn.checked){
				var singleCalDiv = document.getElementById('singleCalDiv')
				if(singleCalDiv.innerText === "") {
					alert("SINGLE DAY SELECTION: Please select a date first.")
					return
				}

				var username = '{{ request.user.username }}'
				var timestamp = new Date()
				var dayOff = oneDayCalendar.current_date["_i"]
				var req_params = `type=single&user=${username}&timestamp=${timestamp}&dayOff=${format_date(dayOff)}`
				var url = '/account/time/'
				var xhr = new XMLHttpRequest()

				console.log("user: " + username)
				console.log("timestamp: " + timestamp)
				console.log("Requested Day Off: " + format_date(dayOff))
				console.log('req_params: ' + req_params)

				xhr.open("POST", url, true)
				xhr.onreadystatechange = function() {
					//Call a function when the state changes.
				    if(xhr.readyState == 4 && xhr.status == 200) {
				        console.log("POST: success!")

				        //  TODO: Create a visual cue to show that submission was successful!
				    }
				}
				xhr.send(req_params)
			}

			if(nDayBtn.checked){
				if(nDayCalendar.orig_start_date === null 
					|| nDayCalendar.orig_end_date === null){
					alert("DATE RANGE SELECTION: Please select a start date and end date first.")
					return
				}

				// TODO: Ajax request with all the data

				var username = '{{ request.user.username }}'
				var timestamp = new Date()
				var req_start_date = nDayCalendar.orig_start_date["_d"]
				var req_end_date = nDayCalendar.orig_end_date["_d"]
				var req_params = `type=multiple&user=${username}&timestamp=${timestamp}&start_date=${format_date(req_start_date)}&end_date=${format_date(req_end_date)}`
				var url = '/account/time/'
				var xhr = new XMLHttpRequest()

				console.log("user: " + username)
				console.log("timestamp: " + timestamp)
				console.log("Start Date: " + format_date(req_start_date))
				console.log("End Date: " + format_date(req_end_date))
				console.log('req_params: ' + req_params)

				xhr.open("POST", url, true)
				xhr.onreadystatechange = function() {
					//Call a function when the state changes.
				    if(xhr.readyState == 4 && xhr.status == 200) {
				        console.log("POST: success!")

				        //  TODO: Create a visual cue to show that submission was successful!
				    }
				}
				xhr.send(req_params)


			}

		});

		function format_date(raw_date){
			var d = new Date(raw_date),
		        month = '' + (d.getMonth() + 1),
		        day = '' + d.getDate(),
		        year = d.getFullYear();

		    if (month.length < 2) month = '0' + month;
		    if (day.length < 2) day = '0' + day;

		    return [year, month, day].join('-');
		}

	</script>
{% endblock %}