{% extends "base.html" %}

{% block title %}TimeTracker - Sign Up{% endblock %}

{% block content %}
	<h1>Log In</h1>
<!-- 	{% if form.errors %}
		<p>Your username and password didn't match. Please try again.</p>
	{% else %} -->
	<!-- {% endif %} -->
	<p>Please, use the following form to log in: </p>
	<div class="login-form">
		<form action="{% url 'login' %}" method="post">
			{% csrf_token %}

			<label for='first_name'>Photo:</label><input type="file" name="photo" accept="image/*">
			<label for='first_name'>First Name:</label><input type="text" name="first_name">
			<label for='last_name'>Last Name:</label><input type="text" name="last_name">
			<label for='username'>Username:</label><input type="text" name="username">
			<label for='password'>Password:</label><input type="password" name="password">
			<input type="submit" value="Submit">
		</form>
	</div>
{% endblock %}